body {
  overflow-x: hidden;
  /* background-image: url('../images/pix2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: #ffffff;
  padding: 15px 0 !important;
  border-bottom: 1px solid #fff !important;
  box-shadow: 2px 2px 8px grey;
}

a {
  text-decoration: none !important;
}

.form-section {
  margin-top: 40px;
}

.eye {
  position: absolute;
  top: 69%;
  right: 11%;
  cursor: pointer;
}

.eye1 {
  position: absolute;
  top: 60%;
  right: 11%;
  cursor: pointer;
}



.warning-btn {
  position: absolute;
  top: -8%;
  left: 7%;
  font-weight: bold;
}

#form {
  background: #fff;
  padding: 30px 30px;
  border: 1px solid #cccccc;
}


.fixed-bottom a {
  text-decoration: none !important;
  color: #fff !important;
}

.warning {
  padding: 20px 20px;
  border: 1px solid #cccccc;
}

.warning-section {
  margin-top: 100px;
}

input {
  background: #fff !important;
  border: 1px solid #cccccc !important;
}

input:focus {
  outline: none !important;
}

.data {
  font-size: 15px !important;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 26px;
  }

  .register {
    margin-right: 10px;
  }
 .copy{
    padding-top: 5px !important;
  }
  .copy a {
    display: none;
  }

  .copy small {
    font-size: 11.5px;
  }

.eye {
  position: absolute;
  top: 67%;
  right: 15%;
  cursor: pointer;
}

.eye1 {
  position: absolute;
  top: 58%;
  right: 15%;
  cursor: pointer;
}
}
